* {
  margin: 0;
}
html {
  width: 100%;
  height: 100vh;
}
body {
    background-color: black;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }
  h1, p {
    text-align: center;
  }
  #navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    background-color: #E97451;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #welcome-section {
    width: 100%;
    height: 100vh;
    background: #0f0707;
  }
  #welcome-section h1 {
    font-size: 3rem;
    color: tomato;
    padding-top: 23%;
  }
  #welcome-section p {
    padding-top: 20px;
    font-size: 1.8rem;
    font-style: italic;
    letter-spacing: 4px;
    color: #36f0bc;
  }
  .zeberio {
    font-size: 2rem;
    text-decoration-line: underline;
    color: rgb(170, 220, 150);
    background-color: #8B4513;
    padding: 20px;
    width: 100%;
  }
  #projects {
    background-color: #8B4513;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;  
    padding: 20px;
    display: flex;
    align-items: center; 
  }
  #projects figure {
    border: 2px solid transparent;
    width: 270px;
    height: 290px;
    overflow: hidden;
    background-color: #36f0bc;
  }
  #projects figure img {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  #projects figure figcaption {
    font-size: 1.5rem;
    color: rgb(51, 246, 204);
    text-align: center;
  }
  #button {
    background-color: #8B4513;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
  }
  a button {
    width: 200px;
    margin: 0 auto;
  }
  button {
    display: block;
    border: 1px solid black;
    background-color: #f5561d;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #eb4a26;
  }
  #contacts {
    background-color: rgb(170, 220, 150);
    width: 100%;
    height: 60vh;
    border-bottom: 4px solid rgb(116, 105, 105);
  }
  #contacts h1 {
    font-size: 2rem;
    padding: 30px;
    color: #1B1212;
  }
  #contacts p {
    font-size: 1.5rem;
    font-style: italic;
    color: #00008B;
    padding-bottom: 55px;
  }
  #contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding-top: 30px;   
  }
  #contact a {
    color: #800000;
    padding: 10px;
  }
  #copyright {
    background-color: rgb(170, 220, 150);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    margin-right: 20px
  }
  #copyright p {
    font-size: 1.3rem;
    margin: 10px;
  }
  @media (min-width: 600px) {
    p {
      font-size: 1.2rem;
    }
  }